@model firstProject.Models.Employee

@{
    ViewData["Title"] = "Employee Page";
}

<p>Employee Id : <span>@Model.employeeId</span></p>
<p>Employee Name : <span>@Model.employeeName</span></p>
<p>Employee Salary : <span>@Model.employeeSalary</span></p>