@{
    ViewData["Title"] = "PostData";
}
<div>
    <h1 class="text-center mb-4">Post Data</h1>
    <input type="text" class="form-control mb-3" name="uname" id=""> 
    @* <input type="email" class="form-control mb-3" name="email" id=""> 
    <input type="password" class="form-control mb-3" name="password" id=""> *@
    <button class="btn btn-primary w-50 mx-auto">Submit</button>
</div>