@{
    ViewData["Title"] = "Signup";
}

<form method="post" action="/Home/PostData">
<div class="card mx-auto mt-5 bg-secondary" style="width:38rem;">
  <div class="card-body">
    <h5 class="card-title text-light text-center mb-3">SignUp User</h5>
    <input type="text" name="firstName" placeholder="Enter First Name" class="form-control mb-3">
    <input type="text" name="middlename" placeholder="Enter Middle Name" class="form-control mb-3">
    <input type="text" name="lastName" placeholder="Enter Last Name" class="form-control mb-3">
  </div>
    <button type="submit" class="btn btn-primary w-50 mx-auto mb-3">Submit Data</button>
</div>
</form>